@model IEnumerable<AppContactos.Models.Note>

@{
    ViewData["Title"] = "Notes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="notes-home">
    <div class="header-section-view">
    <h2 class="title-section">Notes</h2>
        <div class="add-user"><a asp-controller="Notes" asp-action="Create"><img src="~/Images/AddNote.svg" /></a></div>
    </div>


    <ul class="notes">
        @foreach (var note in Model)
        {

            <li class="note-home">
                <div class="body-note">
                    @Html.DisplayFor(modelItem => note.NoteContent)
                </div>
                <div class="options-note">
                    <a asp-action="Edit" asp-route-id="@note.Id">Edit</a>
                    <a asp-action="Delete" asp-route-id="@note.Id">Delete</a>
                </div>
            </li>
        }

    </ul>

</section>

@*<h1>Notes</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NoteContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUserNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NoteContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUserNavigation.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@


